@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HELVET10.TTF");
  }

  html {
    scroll-behavior: smooth;
  }

 *  {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.altoCompleto{
    height: 100vh;
}

/*Navbar*/

.navbar-brand{
    font-weight: bold;
}

/*Bienvenida*/

.textoBienvenida h2{
    font-size: 70px;
}

.textoBienvenida p{
    font-size: 25px;
}
.flechaAProyectos{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    transition: .3s all;

}
.flechaAProyectos:hover{
    transform: scale(1.3);
    transition: .3s all;
}

.rrss a{
    font-size: 18px;
    color: #adadad;
}

.verProyectos{
    font-size: 30px;
}