@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HELVET10.TTF");
  }

 *  {
box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.altoCompleto{
    height: 100vh;
}

/*Navbar*/

.navbar-brand{
    font-weight: bold;
}

/*Bienvenida*/

.textoBienvenida h2{
    font-size: 70px;
}

.textoBienvenida p{
    font-size: 25px;
}